---
import DashboardLayout from "../layouts/DashboardLayout.astro";
const token = Astro.cookies.get("admin_token")?.value;

if (!token || token !== "admin") {
  return Astro.redirect("/admin-login");
}
---

<h1 class="text-3xl font-bold mb-4">🔥 لوحة تحكم الأدمن</h1>

<p>مرحبا بك يا أدمين 👑</p>

<a href="/admin-users" class="text-blue-600 underline mt-4 block">
  إدارة المستخدمين
</a>
